/* Import Fonts */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/*Start Global Rules*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 700;
}

/* End Global Rules*/
/* Start Component */
.sidebar .logo {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 0;
  position: relative;
}

.sidebar .logo::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #000;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
}
.sidebar .logo::after {
  content: "";
  position: absolute;
  bottom: -29px;
  left: 50%;
  border-radius: 50%;
  width: 12px;
  transform: translateX(-50%);
  height: 12px;
  background-color: black;
  border: 4px solid #fff;
}

.main-title {
  font-size: 32px;
  position: relative;
  text-transform: capitalize;
  margin: 20px 20px 40px;
}

.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  height: 3px;
}
.main-title::before {
  width: 120px;
  background-color: #fff;
}
.main-title::after {
  width: 40px;
  background-color: #000;
}
.btn-shape {
  padding: 4px 10px;
  border-radius: 6px;
  display: block;
  width: fit-content;
}
/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--blue-color);
}
/* End Component */
/* Start sideBar*/
.sheet {
  display: flex;
  min-height: 100vh;
  background-color: #f1f5f9;
}

.sidebar {
  background-color: white;
  width: 250px;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 10px #ddd;
}

.sidebar ul {
  margin: 20px 0;
}

.sidebar ul li > a {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  color: #000;
  margin-bottom: 5px;
  border-radius: 6px;
  transition: var(--main-transition);
}

.sidebar ul li > a.active,
.sidebar ul li > a:hover {
  background-color: #f6f6f6;
}

.sidebar ul li > a span {
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}
.content {
  width: 100%;
  overflow: hidden;
}
/* End Side Bar */
/* Start Head */
.content .head {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: white;
  justify-content: space-between;
}
.content .head .search {
  position: relative;
}
.content .head .search .mag {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.content .head .search input {
  padding: 10px;
  border-radius: 6px;
  padding-left: 30px;
  margin-left: 5px;
  border: 1px solid #ccc;
  width: 160px;
  caret-color: var(--blue-color);
  transition: var(--main-transition);
}
.content .head .search input:focus {
  outline: none;
  width: 200px;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
}
.content .head .icons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .icons .notification {
  position: relative;
}
.content .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: -5px;
  right: -5px;
  background-color: var(--red-color);
  border-radius: 50%;
}
.content .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
/* End Head */

/* Start Profile */
.profile-user {
  margin: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
}

.profile-user .user {
  padding: 20px;
  width: 300px;
  text-align: center;
}
.profile-user .user h3 {
  margin-top: 0;
}
.profile-user .user img {
  width: 120px;
  height: 120px;
  margin-bottom: 10px;
}

.profile-user .user p {
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--grey-color);
}

.profile-user .user .progress-level {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  width: 70%;
  height: 6px;
  margin: auto;
  background-color: #eee;
}
.profile-user .user .progress-level span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--blue-color);
}

.profile-user .user .rating {
  margin-top: 10px;
  margin-bottom: 10px;
}

.profile-user .user .rating i {
  color: var(--orange-color);
  font-size: 13px;
}

.profile-user .user p {
  font-size: 13px;
}

.profile-user .info-box {
  flex-basis: 100%;
}

.profile-user .info-box .box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.profile-user .info-box .box h4 {
  width: 100%;
  font-size: 14px;
  margin: 0;
  color: var(--grey-color);
}

.profile-user .info-box .box > div {
  padding: 10px 0 0;
  width: 250px;
  font-size: 14px;
}

.profile-user .info-box .box span:first-child {
  color: var(--grey-color);
  font-weight: bold;
}
.profile-user .info-box .toggle-switch {
  height: 20px;
}
.toggle-switch {
  width: 78px;
  border-radius: 16px;
  position: relative;
  cursor: pointer;
  height: 32px;
  background-color: #ccc;
}
.profile-user .info-box .toggle-switch::before {
  content: "";
  width: 12px;
  height: 12px;
  font-size: 8px;
}

.toggle-checkbox {
  -webkit-appearence: none;
  appearance: none;
  display: none;
}
.toggle-switch::before {
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  top: 4px;
  border-radius: 50%;
  left: 4px;
  position: absolute;
  transition: 0.3s;
  background-color: #fff;
}
.profile-user .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 62px;
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
/* End Profile */
/* Start Skills */
.other-profile {
  display: flex;
  gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.other-profile .my-skills {
  background: white;
  padding: 20px;
  border-radius: 10px;
  flex-grow: 1;
}

.other-profile .my-skills h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.other-profile .my-skills p {
  color: var(--grey-color);
  margin-bottom: 20px;
}

.other-profile .my-skills .skill-row {
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px 0;
}
.other-profile .my-skills .skill-row:not(:last-child) {
  border-bottom: 1px solid #eee;
} 
.other-profile .my-skills .skill-row span {
  background-color: #eee;
  font-size: 14px;
}

.other-profile .latest-activities {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  flex-grow: 2;
}
.other-profile .latest-activities h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
.other-profile .latest-activities .description {
  color: var(--grey-color);
  font-size: 15px;
  margin: 0 0 20px;
}

.latest-activities .activity-box {
  display: flex;
  align-items: center;
}
.latest-activities .activity-box .info {
  flex: 1;
}
.latest-activities .activity-box .info p:first-child {
  margin-bottom: 10px;
}
.latest-activities .activity-box .info p:last-child {
  color: var(--grey-color);
}
.latest-activities .activity-box:not(:last-of-type) {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #eee;
}
.latest-activities .activity-box img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}
.latest-activities .activity-box .time span:first-child {
  display: block;
  margin-bottom: 10px;
}

.latest-activities .activity-box .time span:last-child {
  color: var(--grey-color);
}
/* End Skills */
